/* Global */
* {
  box-sizing: border-box;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Site header */
.site-header {
  padding-top: 30px;
  background-color: #f6f6f6;
}

.site-logo-link {
  margin-right: 35px;
}

.site-header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.site-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 19px;
  font-weight: 400;
  color: #555555;
}

.site-header-left a {
  margin-right: 25px;
}
.currency-block {
  display: flex;
}
.currency-block > :first-child {
  margin-right: 25px;
}
.currency span {
  font-weight: 700;
  color: #2959ce;
}
.site-header-right {
  display: flex;
  align-items: center;
}

.site-header-right > :not(:last-child) {
  margin-right: 25px;
}
.search-block {
  position: relative;
}
.search-block img {
  position: absolute;
  top: 15px;
  left: 15px;
}
.search-input {
  width: 275px;
  line-height: 17px;
  border-radius: 60px;
  padding-left: 41px;
  padding-top: 15px;
  padding-bottom: 13px;
  background-color: #fff;
  border-color: transparent;
  margin: 0;
  transition: box-shadow 0.4s ease;
}

.search-input:focus {
  outline: none;
  box-shadow: 2px 2px 8px 5px #dee8ff;
}

.lng-changer {
  width: 70px;
  font-size: 13px;
  line-height: 16px;
  border-radius: 39px;
  background-color: #dce6ff;
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  text-transform: uppercase;
  transition: box-shadow 0.4s ease;
}
.lng-changer:hover {
  box-shadow: 2px 2px 8px #526799;
}
.lng-changer > :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.lng-changer :last-child {
  color: #a6a6a6;
}

.sign-link {
  display: inline-block;
  background-color: #7296ec;
  border-radius: 10px;
  border: 1px solid transparent;
  width: 90px;
  padding: 13px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  line-height: 19px;
  transition: all 0.4s ease;
}

.sign-link:hover {
  background-color: #fff;
  color: #7296ec;
  border-color: #7296ec;
  box-shadow: 2px 2px 8px #526799;
}

/* Site-nav */
.site-nav {
  background-color: #fff;
  padding-top: 30px;
  margin-bottom: 40px;
}

.site-nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.site-nav-item:not(:last-child) {
  margin-right: 34px;
}

.site-nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #7f7f7f;
  transition: color 0.4s ease;
}

.site-nav-link:hover {
  color: #7296ec;
}

/* Main section HERO */
.advertising-img {
  margin-bottom: 50px;
}
.advertising-img a {
  display: block;
}
.adv-img {
  display: block;
}
.hero {
  margin-bottom: 60px;
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -10px;
}

.hero-list-item {
  max-width: 393px;
  width: 100%;
  list-style-type: none;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin-top: 10px;
  padding: 10px 17px 18px;
}

.hero-list-item-heading {
  margin-bottom: 10px;
}
.hero-list-item-heading a {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.hero-list-item p {
  margin-bottom: 15px;
  color: #4a4b4c;
}

.hero-list-item-img {
  width: 360px;
  height: 165px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.created-time-block {
  display: flex;
  align-items: center;
}

.created-time-block img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
.created-time {
  color: #5e5f61;
  font-size: 12px;
  line-height: 14px;
}
