/* Global */
* {
  box-sizing: border-box;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  flex-direction: column; 
}
main{
  flex-grow: 1;
}
.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Site header */
.site-header {
  padding-top: 30px;
  background-color: #f6f6f6;
}

.site-logo-link {
  margin-right: 35px;
}

.site-header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.site-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 19px;
  font-weight: 400;
  color: #555555;
}

.site-header-left a {
  margin-right: 25px;
}
.currency-block {
  display: flex;
}
.currency-block > :first-child {
  margin-right: 25px;
}
.currency span {
  font-weight: 700;
  color: #2959ce;
}
.site-header-right {
  display: flex;
  align-items: center;
}

.site-header-right > :not(:last-child) {
  margin-right: 25px;
}
.search-block {
  position: relative;
}
.search-block img {
  position: absolute;
  top: 15px;
  left: 15px;
}
.search-input {
  width: 275px;
  line-height: 17px;
  border-radius: 60px;
  padding-left: 41px;
  padding-top: 15px;
  padding-bottom: 13px;
  background-color: #fff;
  border-color: transparent;
  margin: 0;
  transition: box-shadow 0.3s ease;
}

.search-input:focus {
  outline: none;
  box-shadow: 2px 2px 8px 5px #dee8ff;
}

.lng-changer {
  width: 70px;
  font-size: 13px;
  line-height: 16px;
  border-radius: 39px;
  background-color: #dce6ff;
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  text-transform: uppercase;
  transition: box-shadow 0.3s ease;
}
.lng-changer:hover {
  box-shadow: 2px 2px 8px #526799;
}
.lng-changer > :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.lng-changer :last-child {
  color: #a6a6a6;
}

.sign-link {
  display: inline-block;
  background-color: #7296ec;
  border-radius: 10px;
  border: 1px solid transparent;
  width: 90px;
  padding: 13px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  line-height: 19px;
  transition: all 0.3s ease;
}

.sign-link:hover {
  background-color: #fff;
  color: #7296ec;
  border-color: #7296ec;
  box-shadow: 2px 2px 8px #526799;
}

/* Site-nav */
.site-nav {
  background-color: #fff;
  padding-top: 30px;
}

.site-nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.site-nav-item:not(:last-child) {
  margin-right: 34px;
}

.site-nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #7f7f7f;
  transition: color 0.3s ease;
}

.site-nav-link:hover {
  color: #7296ec;
}

/* Main section news */
.advertising-img-block {
  margin-bottom: 50px;
  margin-top: 40px;
}
.advertising-img-link {
  display: block;
}
.adv-img {
  display: block;
}
.news {
  margin-bottom: 60px;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -10px;
}

.news-list-item {
  max-width: 393px;
  width: 100%;
  list-style-type: none;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin-top: 10px;
  padding: 10px 17px 18px;
}

.news-list-item-heading {
  margin-bottom: 10px;
}
.news-list-item-heading-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.news-list-item-heading-link:hover{
  color : #7296ec;
}

.news-list-item p {
  margin-bottom: 15px;
  color: #4a4b4c;
}

.news-list-item-img {
  width: 360px;
  height: 165px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.created-time-block {
  display: flex;
  align-items: center;
}

.created-time-block-img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
.created-time {
  display: inline-block;
  text-decoration: none;
  color: #5e5f61;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.created-time:hover{
  color: #000;
}
/* NOTIFICATION */

.notification-inner{
  display: flex;
  justify-content: space-between;
  background-image: url(../img/notification.jpg);
  object-fit: cover;
  max-width: 1050px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.notification-heading{
  width: 404px;
  margin-left: 30px;
}

.notification-btn{
  display: block;
  width: 150px;
  border-radius: 10px;
  padding: 13px 30px;
  color:#fff;
  background-color: #F78B3B;
  margin-right: 70px;  
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  transition: color 0.3s ease , background-color 0.3s ease , border 0.3s ease;
  border: 2px solid transparent;
}
.notification-btn:hover{
  color:#F78B3B;
  background-color: #fff;
  border: 2px solid #F78B3B;
}

/* NEWS BOTTOM BLOCK */

.news-bottom-block{
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  align-items: flex-start;
}

.aside-left{
  margin-right: 10px;
}
.text-block{
  margin-bottom: 20px;
}

.card{
  display: flex;
  width: 797px;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F6F6F6;
}

.card:not(:last-child){
  margin-bottom: 10px;
}

.card-body{
  width: 535px;
  margin-right: 20px;
}
.card-img{
  margin-right: 15px;
  margin-left: 17px;
}

.card-title{
  display: block;
  text-decoration: none;
  font-weight:500;
  font-size:20px;
  line-height: 26px;
  color: #000;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.card-title:hover{
  color : #7296ec;
}

.card-text{
  color: #4A4B4C;
  margin-bottom: 17px;
}

.show-more-cards{
  display: flex;
  width: 797px;
  border-radius: 15px;
  background-color: #F6F6F6;
}

.show-more-cards-link{
  text-decoration: none;
  font-weight: 500;
  color: #000;
  line-height: 19px;
  margin: 17px auto;
  transition: color 0.3s ease;
}

.show-more-cards-link:hover{
  color: #7296ec;
}

/* ASIDE RIGHT */

.aside-right-block{
  max-width: 393px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 15px;
  padding-top: 20px;
  padding-left: 17px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.aside-right-heading{
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  font-weight: 500;
}

.aside-right-card:not(:last-child){
  width: 356px;
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 20px;
}

.aside-right-card-title{
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.aside-right-card-title:hover{
  color : #7296ec;
}

.aside-right-card-time{
  display: block;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  color: #5E5F61;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.aside-right-card-time:hover{
  color : #000;
}

.aside-right-card:last-child .aside-right-card-time{
  margin-bottom: 0;
}

.aside-right-img{
  width: 393px;
  height: 338px;
  border-radius: 15px;
}

/* FOOTER */

.site-footer{
  background-color: #7297EF;
  height: 36px;
}